body {
	padding: 12px;
	font-size: 20px;
	color: black;
}

h1, h2 {
	text-align: center;
	color: teal;
}

.img_sites {
	margin: 20px 40px;
	height: 250px;
	width: 300px;
}

.placeLink {
	color: teal;
	text-decoration: none;
}

.placeLink:hover {
	color: #00BFFF;
}

* {
	box-sizing: border-box;
}

input[type=text],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}

input[type=submit] {
	background-color: teal;
	color: white;
	border: 2px solid white;
	border-radius: 8px;
	padding: 12px 20px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
}

input[type=submit]:hover {
	background-color: white;
	color: teal;
	border: 2px solid teal;
}

table {
	border: 5px solid teal;
	border-collapse: collapse;
	border-spacing: 10px;
	width: 100%;
}

th {
	border: 3px solid teal;
	padding: 12px;
	vertical-align: top;
	text-align: center;
}

td {
	border: 3px solid teal;
	padding: 12px;
	vertical-align: top;
	text-align: center;
}

.likeButton {
	background-color: teal;
	color: white;
	border: 2px solid white;
	border-radius: 8px;
	padding: 12px 20px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	float: right;
}

.likeButton:hover {
	background-color: white;
	color: teal;
	border: 2px solid teal;
}

.indexButton {
	background-color: teal;
	color: white;
	border: 2px solid white;
	border-radius: 8px;
	padding: 12px 20px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
}

.indexButton:hover {
	background-color: white;
	color: teal;
	border: 2px solid teal;
}

.deletePlaceButton {
	background-color: red;
	color: white;
	border: 2px solid white;
	border-radius: 8px;
	padding: 12px 20px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
}

.deletePlaceButton:hover {
	background-color: white;
	color: teal;
	border: 2px solid red;
}