body {
	background-image: url("../images/world.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	padding: 12px;
}

h1, h2 {
	text-align: center;
	color: teal;
}

.img_sites {
	margin: 20px 40px;
	height: 200px;
	width: 300px;
}

.placeLink {
	color: white;
	text-decoration: none;
}

.placeLink:hover {
	color: #00BFFF;
}

* {
	box-sizing: border-box;
}

input[type=text],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}

input[type=submit] {
	background-color: teal;
	color: white;
	border: 2px solid white;
	border-radius: 8px;
	padding: 12px 20px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
}

input[type=submit]:hover {
	background-color: white;
	color: teal;
	border: 2px solid teal;
}

table {
	border: 5px solid teal;
	border-collapse: collapse;
	border-spacing: 10px;
	width: 100%;
	font-size: 20px;
	text-shadow: 2px 2px 4px #003cff;
}

th {
	border: 3px solid teal;
	padding: 12px;
	vertical-align: top;
	text-align: center;
}

td {
	border: 3px solid teal;
	padding: 12px;
	vertical-align: top;
	text-align: center;
}

.indexButton, 
.likeButton, 
.deleteButton {
	background-color: teal;
	color: white;
	border: 2px solid white;
	border-radius: 8px;
	margin: 14px;
	padding: 10px 16px;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
}

.indexButton:hover {
	background-color: white;
	color: teal;
	border: 2px solid teal;
}

.likeButton,
.deleteButton {
	float: right;
}

.likeButton {
	background-color: #FFD700;
	color: white;
	border: 2px solid white;
}

.likeButton:hover {
	background-color: white;
	color: #FFD700;
	border: 2px solid #FFD700;
}

.deleteButton {
	background-color: red;
	color: white;
	border: 2px solid white;
}

.deleteButton:hover {
	background-color: white;
	color: red;
	border: 2px solid red;
}

label.error.fail-alert {
	border: 2px solid red;
	border-radius: 4px;
	line-height: 1;
	margin-top: 5px;
	padding: 3px;
	background: #e23552;
	font-size: 16px;
	color: black;
	text-shadow: none;
}